{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content%}
<div class="container-fluid cus_container">
    <div class="add_members">
        {% if not expenseTable %}
            <a href="{% url 'edit_group' group.id %}">Add group members</a>
        {% endif %}
    </div>
    <div>
        <h1>{{ group.group_name }}</h1>
        <h4>Total Amount: {{group.total_amount}}</h4>
        <h6>{{group.description}}</h6>
        <ul>
            {% for member in group.group_members.all %}
            <li>{{ member.name }} - <strong>{{ member.share|floatformat:2 }}</strong></li>
            {% empty %}
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if is_member or is_owner %}
            <form method="POST" action="{% url 'group_detail' group.id %}">
                {% csrf_token %}
                {{update_amount.as_p}}
                {{ update_amount.date.errors }}
                    <button type="submit" class="btn btn-primary">Update Total Amount</button>
                {% if not is_owner %}
                    <div class="alert alert-info">
                        <strong>Info</strong> Group creater can delete the expense.
                    </div>
                {% endif %}
            </form>
        {% endif %}
    </div>
    {% if expenseTable %}
        {% for item in expenseTable %}
            <div class="d-flex justify-content-between cus_slip">
                <div>{{ item.date }}</div>
                <div>{{ item.description }}</div>
                <div>{{ item.amount }}</div>
                <form method="POST" action="{% url 'group_detail' group.id %}">
                    {% csrf_token %}
                        <input type="hidden" name="expense_id" value="{{ item.id }}">
                    {% if is_owner %}
                        <button class="btn btn-danger" type="submit" name="delete">Delete</button>
                    {% endif %}
                </form>
                
                {% if is_member or is_owner %}
                    <form method="POST" action="{% url 'edit_expense' group.id %}">
                        {% csrf_token %}
                            <input type="hidden" name="expense_id" value="{{ item.id }}">
                            <button class="btn btn-danger" type="submit">edit</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No expenses available.</p>
    {% endif %}
</div>
<style>
    .cus_container{
        background-color: lightgray;
        height: 100%;
        padding: 20px;
    }
    .cus_slip{
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .add_members{
        position: absolute;
        top: 120px;
        right: 80px;
    }
    .add_members a{
        text-decoration: none;
        color: #fff;
        padding: 20px;
        background-color: grey;
        border-radius: 100px;
    }
</style>
{% endblock %}