{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="main_container shadow" style="margin-top: 100px;">
  <div class="cus_content text-center d-flex">
    <div class="cus_content_center">
      <div class="center_heading heading">
        <span>Groups</span>
      </div>
      <div class="scroll-container group_names">
        {% for group in groups %}
          <button class="me-2 group_button btn btn-info">
            <a href="{% url 'group_detail' group.id %}">{{ group.group_name }}</a>
            <a>{{group.total_amount}}</a>
          </button>
        {% endfor %}
      </div>
    </div>   
  </div>
  <div class="cus_button_group">
    <button class="left_content_button cus_button">
      <a class="btn btn-primary" href="{% url 'create_group' %}">Create Group</a>
    </button>
  </div>
</div>
<style>
  .main_container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  .cus_content_left, 
  .cus_content_right {
    flex: 1;
    background-color: #F6D7C4;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
  }

  .cus_content_center {
    flex: 2;
    background-color: lightgray;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    overflow: auto;  /* Added overflow property to allow scrolling if needed */
  }

  .left_heading, .center_heading {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center_heading {
    margin-bottom: 30px;
    background-color: #fff;
  }

  .left_content_button a {
    color: white;
    text-decoration: none;
  }

  .group_names {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group_button {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .group_button a {
    text-decoration: none;
    color: black;
    display: flex;
  }
  .cus_content{
    width: 80vw;
  }
  .cus_button_group{
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1;
  }
</style>
{% endblock %}
